# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Model files (if large, you may want to store elsewhere)
models/*.pt
